<%- include('./navbar.ejs') %> 
   <form action="/api/newUser" method="POST">
        <div class="mb-3">
            <label for="InputFirstname" class="form-label">Firstname</label>
            <input type="text" name="Firstname" class="form-control" id="InputFirstname" >
        </div>
        <div class="mb-3">
            <label for="InputLastname" class="form-label">Lastname</label>
            <input type="text" name="Lastname"class="form-control" id="InputLastname" >
        </div>
        <div class="mb-3">
                <label for="InputEmail" class="form-label">Email</label>
                <input type="text" name="Email"class="form-control" id="InputEmail" >          </div>
        <div class="mb-3">
                <label for="InputPhone" class="form-label">Phone</label>
                <input type="text" name="Phone"class="form-control" id="InputPhone" >
        </div>
        <div class="mb-3">
                <label for="InputBirthdate" class="form-label">Birthdate</label>
                <input type="text" name="Birthdate"class="form-control" id="InputBirthdate" >
        </div>
        <div class="mb-3">
            <label for="Password" class="form-label">Password</label>
            <input type="Password" name="Password" class="form-control" id="Password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>
</html>