<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>HOME</title>
  <script src="http://trentrichardson.com/examples/timepicker/js/jquery-1.7.1.min.js">     </script>
  <script src="http://trentrichardson.com/examples/timepicker/js/jquery-ui-1.8.16.custom.min.js"></script>
  <script src="http://trentrichardson.com/examples/timepicker/js/jquery-ui-sliderAccess.js"></script>
  <script src="http://trentrichardson.com/examples/timepicker/js/jquery-ui-timepicker-addon.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>
    <h1>Bienvenue sur le site de votre cinéma </h1>
    <ul>
      <% if(!session.user_credential){%><li><a href="/login">LOGIN</a></li><%}%>
      <% if(session.user_credential){%><li><a href="/logout">LOGOUT</a></li><%}%>
    </ul>
