<%- include('./header.ejs') %> 

   <form action="/api/reservation" autocomplete="off" method="POST">
        <div class="mb-3" hidden>
            <label for="InputIdseance" class="form-label">IDseance</label>
            <input type="text" name="IDseance" class="form-control" id="InputIdseance" value="<%=IDseance%>" >
        </div>
        <div class="mb-3" hidden>
            <label for="InputIduser" class="form-label">IDuser</label>
            <input type="text" name="IDuser" class="form-control" id="InputIduser" value="<%= session.user_id %>" >
        </div>
        <div class="mb-3">
            <label for="InputDate" class="form-label">select quantity</label>
            <select name="quantity" class="form-control" id="InputQuantity">
                <option value="1" >1</option>
                <option value="2" >2</option>
                <option value="3" >3</option>
                <option value="4" >4</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
<%- include('./footer.ejs') %>